<footer class="footer mt-auto fixed-bottom py-3 bg-dark">
  <div class="container">
    <span class="text-muted">
        Ruby GameOfLife <%= Date.today.strftime("%Y") %> &copy; Andrea Fusco
    </span>
  </div>
</footer>