<table style="border-collapse: collapse;" id="showgrid">
<% locals[:game][:grid].each do |row| %>
    <tr>
    <%  row.each do |col| %>
            <td class="<%if col == 0 %>bg-light <% else %> bg-danger <% end %>" style="width: 20px; height: 20px; border: 1px solid black;"></td>
    <%  end  %>
    </tr>
<%  end %>
</table>
