<div class="container ms-auto col-6">

    <div class="row">
        <div class="alert alert-info" role="alert">
            Simulation End
        </div>
        <div class="card">
            <div class="card-body">
                <h5>Game Of Life</h5>
                <p>Generation: <b><%= @out[:gen] %></b></p>
                
                <%= render 'game/grid' %>

                <div class="d-grid mt-3 gap-2 d-md-block">
                    <a href="/" class="btn btn-primary mt-3">Home</a>
                </div>
            </div>
        </div>

    </div>

</div>
